*{
    font-family: 'RocknRoll One', sans-serif;
    color: #8A2BE2;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: #E0FFFF;
}

.container {
    display : grid;
    grid-template-rows: 10rem auto 3rem;
    grid-template-areas: 
        'h'
        'm'
        'f';
    width: 100vw;
    height: 100vh;
}

header {
    grid-area : h;
    background-color: #87CEFA;
}

.band-name {
    background-color: #4169E1;
    display: flex;
    justify-content: center;
}

main{
    grid-area : m;
    background-color: #87CEFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    grid-area: f;
    background-color: #4169E1;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.headerlist {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-row > span {
    padding: 1.5rem;
}

footer > p {
    color: #E0FFFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 640px){
    .headerlist {
        flex-direction: row;
        justify-content: flex-end;
    }

    .headerlist > li {
        padding-right: 3rem;
    }

    .shop-items {
        display: flex;
        justify-content: space-evenly;
    }
    
    .shop-item-image {
        padding: 1rem;
    }

    .cart-row > span {
        padding: 11rem;
    }

}